.project-title {
    font-size: xxx-large;
    text-align: center;
}

.project-subtitle {
    text-align: center;
    color: #535353;
    margin-bottom: 30px;
}

.project-start-date {
    color: #535353
}

.project-end-date {
    color: #535353
}