<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Ilia Moiseev">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <link rel="stylesheet" href="assets/css/styles.css" media="screen">
    <link rel="stylesheet" href="assets/css/landing.css" media="screen">
    <title>Ilia Moiseev - personal website</title>
    <!-- <link rel="icon" href="images/icon_small.png"> -->
    <script class="u-script" type="text/javascript" src="assets/js/jquery.js" defer="defer"></script>
    <script class="u-script" type="text/javascript" src="assets/js/script.js" defer="defer"></script>
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900%7CRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/icon1.png"
    }
    </script>

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">

</head>

<body class="u-body">
    <header class="u-black u-clearfix u-header u-header" id="sec-ec72">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="index.html" class="u-image u-image-1" title="Home">
            </a>
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                    <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-grey-75 u-nav-link u-text-active-palette-1-base u-text-custom-color-2 u-text-hover-palette-2-base"
                        href="#" style="font-size: calc(1em + 14px); padding: 7px 10px;">
                        <svg viewBox="0 0 24 24">
                            <use xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                        </svg>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                    <rect y="1" width="16" height="2"></rect>
                                    <rect y="7" width="16" height="2"></rect>
                                    <rect y="13" width="16" height="2"></rect>
                                </symbol>
                            </defs>
                        </svg> </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-unstyled u-nav-1">
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-white u-text-custom-color-2 u-text-hover-white"
                                href="index.html" style="padding: 10px 6px 10px 20px;">Home</a>
                        </li>
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-white u-text-custom-color-2 u-text-hover-white"
                                href="posts.html" style="padding: 10px 6px 10px 20px;">Posts</a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="index.html"
                                        style="padding: 10px 6px 10px 20px;">Home</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="posts.html"
                                        style="padding: 10px 6px 10px 20px;">Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>

    <section class="u-clearfix u-image u-shading u-section-1" data-image-width="2311" data-image-height="1301">
        <div class="u-align-left u-clearfix u-sheet u-sheet-1">
            <div class="u-image u-image-circle u-image-1" alt="" data-image-width="1183" data-image-height="1183"></div>
            <h3 class="u-text u-text-default u-text-1">Hello there, I am</h3>
            <h1 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-2">Ilia
                Moiseev</h1>
            <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-3">machine
                learning engineer with specialty in&nbsp;<br>
                computer vision </p>
        </div>
    </section>

    <section class="u-black u-clearfix u-section-2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-text-1" style="margin-top: 65px;">About
                me</h1>
            <p class="u-text u-text-2" style="margin-top: 30px; height: 115px">I'm
                passioned about computer vision either classical or ML and
                love to tackle challenging engineering problems with unusual
                conditions and solutions. In the mean time I play classical guitar,
                learn foreign languages, draw and build open source projects.
            </p>
        </div>
    </section>

    <section class="u-clearfix u-section-3">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-text-1">My experience</h1>
            <div class="u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-bottom-lg u-container-layout-1">
                            <h2 class="u-text u-text-2">Machine Learning Engineer</h2>
                            <p class="u-text u-text-grey-50 u-text-3">October 2021 - now<br>
                            </p>
                            <p class="u-text u-text-4"> <a href="https://sarafan.tech"
                                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-2 u-btn-1"
                                    target="_blank">Sarafan Technologies</a>, Saint-Petersburg </p>
                            <p class="u-text u-text-5">
                                This position offered a certain challenge at first, demanding
                                to generalize from only-computer-vision tasks to
                                general ML, speech processing and more.</p>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-bottom-lg u-container-layout-1">
                            <h2 class="u-text u-text-2">Computer Vision Developer</h2>
                            <p class="u-text u-text-grey-50 u-text-3">January 2021 - August
                                2021 | 8 months</p>
                            <p class="u-text u-text-8"> <a href="https://3divi.com/"
                                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-2 u-btn-2"
                                    target="_blank">3DiVi Inc.</a>, Chelyabinsk </p>
                            <p class="u-text u-text-5">Developed several projects using C++
                                and Python with a team.
                                While working on one of the projects, independently developed
                                and implemented solution for head-pose
                                calibration problem.
                                With the same project implemented and maintained internal
                                product usage cycle, which was used for
                                customer-side issues identification.</p>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-bottom-lg u-container-layout-1">
                            <h2 class="u-text u-text-2">Intern</h2>
                            <p class="u-text u-text-grey-50 u-text-3">October 2020 -
                                December 2020 | 3 months</p>
                            <p class="u-text u-text-16">
                                <a href="https://sarafan.tech"
                                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-2 u-btn-3"
                                    target="_blank"></a>
                                <a href="https://3divi.com/" target="_blank"
                                    class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-custom-color-2 u-btn-4">3DiVi
                                    Inc.</a>, Chelyabinsk
                            </p>
                            <p class="u-text u-text-5">While being at this role, I
                                developed an isolated project in Python, did scientific
                                research to identify most
                                suitable solution and then use available implementation of it
                                to produce deployable module.</p>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-bottom-lg u-container-layout-1">
                            <h2 class="u-text u-text-2">C++ Programmer</h2>
                            <p class="u-text u-text-grey-50 u-text-3">August 2020 - August 2021 | 1 year</p>
                            <p class="u-text u-text-16"> <a href="https://sonda-tech.com/"
                                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-2 u-btn-5"
                                    target="_blank">Sonda Technologies</a>, Chelyabinsk </p>
                            <p class="u-text u-text-5"> Integrated own implementation of
                                neural network into existing C++ fingerprint verification system.
                                Implementation was used only for inference: learning was
                                performed in TF and then model was converted to
                                custom format</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-black u-clearfix u-section-3">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-text-1">My education</h1>
            <div class="u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <h2 class="u-text u-text-2">Master's degree at Big Data and Machine Learning</h2>
                            <p class="u-text u-text-grey-50 u-text-2">2021 - 2023</p>
                            <p class="u-text u-text-4">
                                <a href="https://itmo.ru/ru/"
                                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-2 u-btn-1"
                                    target="_blank">ITMO University
                                </a>, Saint-Petersburg
                            </p>
                            <p class="u-text u-text-5">This program is devoted to applicable
                                Machine Learning and Data Analysis. The study of statistics
                                intertwine with practical training on data analysis.</p>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <h2 class="u-text u-text-2">Bachelor's degree at Computer Engineering</h2>
                            <p class="u-text u-text-grey-50 u-text-2">2017 - 2021</p>
                            <p class="u-text u-text-8"> <a href="https://www.susu.ru/ru"
                                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-2 u-btn-2"
                                    target="_blank">South Ural State University</a>, Chelyabinsk
                            </p>
                            <p class="u-text u-text-9">Computer engineering program in
                                the&nbsp;&nbsp;<a href="https://comp.susu.ru/"
                                    class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-custom-color-2 u-btn-3">Department
                                    of Electronic Computing Machines</a> allowed me to
                                study low-level computer structure, C++ language, processor
                                architectures, networks and Windows/Linux admin tools. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-black u-clearfix u-section-6" id="carousel_9b23">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-text-1">Courses</h1>
            <div class="u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <h2 class="u-text u-text-2"> Computer vision school of&nbsp;3DiVi&nbsp;Inc.</h2>
                            <p class="u-text u-text-grey-50 u-text-3">2020 |&nbsp;<a href="images/3divi_cert.jpg"
                                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-2 u-btn-1">Certificate</a>
                                <br>
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <h2 class="u-text u-text-4">Mathematical logic course from The
                                National Open University "INTUIT"</h2>
                            <p class="u-text u-text-grey-50 u-text-3">2019 | <a
                                    href="https://www.intuit.ru/verifydiplomas/101220726"
                                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-2 u-btn-2">Certificate</a>
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <h2 class="u-text u-text-6">Python programming course from
                                stepik.org</h2>
                            <p class="u-text u-text-grey-50 u-text-7">2018 | <a href="https://stepik.org/cert/153563"
                                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-2 u-btn-3">Certificate</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-image u-section-7" id="carousel_c865" data-image-width="1600" data-image-height="901">
        <div class="u-clearfix u-sheet u-valign-bottom"></div>
    </section>
    <section class="u-clearfix u-section-8" id="sec-0d77">
        <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
            <h4 class="u-text u-text-default u-text-1">Programming Languages</h4>
            <div class="u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <img class="u-image u-image-default u-preserve-proportions u-image-1"
                                src="images/download.png" alt="" data-image-width="1200" data-image-height="1200">
                            <p class="u-custom-item u-text u-text-2">Python </p>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <img class="u-image u-image-default u-preserve-proportions u-image-2"
                                src="images/download1.png" alt="" data-image-width="1600" data-image-height="1600">
                            <p class="u-custom-item u-text u-text-3">C++ </p>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <img class="u-image u-image-default u-preserve-proportions u-image-3"
                                src="images/download21.png" alt="" data-image-width="651" data-image-height="696">
                            <p class="u-custom-item u-text u-text-4">C# </p>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <img class="u-image u-image-default u-preserve-proportions u-image-4"
                                src="images/download31.png" alt="" data-image-width="512" data-image-height="512">
                            <p class="u-custom-item u-text u-text-5">SQL </p>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="u-text u-text-default u-text-6">Key Skills</h4>
            <ul class="u-text u-text-default u-text-7">
                <li> <span style="font-size: 1.5rem;">Computer Vision</span> </li>
                <li> <span style="font-size: 1.5rem;">Image Processing</span> </li>
                <li> <span style="font-size: 1.5rem;">NLP</span> </li>
                <li> <span style="font-size: 1.5rem;">Sound Processing</span> </li>
            </ul>
            <ul class="u-text u-text-8">
                <li> <span style="font-size: 1.5rem;">Research</span> </li>
                <li> <span style="font-size: 1.5rem;">Rapid Prototyping</span> </li>
                <li> <span style="font-size: 1.5rem;">Developement for <br> edge-devices</span>
                <li> <span style="font-size: 1.5rem;">Deploying ML to production</span>
                </li>
            </ul>
            <ul class="u-text u-text-default u-text-9">
                <li> <span style="font-size: 1.5rem;">CI</span> </li>
                <li> <span style="font-size: 1.5rem;">Torch</span> </li>
                <li> <span style="font-size: 1.5rem;">cmake</span> </li>
                <li> <span style="font-size: 1.5rem;">opencv</span> </li>
                <li> <span style="font-size: 1.5rem;">git</span> </li>
                <li> <span style="font-size: 1.5rem;">bash</span> </li>
            </ul>
            <h4 class="u-text u-text-default u-text-6">Languages</h4>
            <ul class="u-text u-text-default u-text-11">
                <li> <span style="font-size: 1.5rem;">Russian - Native</span> </li>
                <li> <span style="font-size: 1.5rem;">English - B2 | FCE
                    </span> </li>
                <li> <span style="font-size: 1.5rem;">German - A2</span> </li>
            </ul>
        </div>
    </section>
    <section class="u-black u-clearfix u-section-9" id="sec-fe11">
        <div class="u-clearfix u-sheet u-sheet-1"> <a
                class="u-black u-border-none u-btn u-button-style u-hover-custom-color-2 u-btn-1"><span
                    class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px"
                        style="width: 1em; height: 1em;">
                        <path
                            d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z">
                        </path>
                    </svg><img></span>&nbsp;+7-968-115-8700
            </a> <a href="mailto:ilia.moiseev.5@yandex.ru"
                class="u-black u-border-none u-btn u-button-style u-hover-custom-color-2 u-btn-2"><span
                    class="u-file-icon u-icon u-icon-2"><img src="images/712040.png"
                        alt=""></span>&nbsp;ilia.moiseev.5@yandex.ru<br>
            </a> <a href="https://github.com/Oxid15/"
                class="u-black u-border-none u-btn u-button-style u-hover-custom-color-2 u-btn-2"><span
                    class="u-file-icon u-icon u-icon-3"><img src="images/733609.png" alt=""></span>&nbsp;CODE
            </a> <a href="https://www.linkedin.com/in/ilia-moiseev/"
                class="u-black u-border-none u-btn u-button-style u-hover-custom-color-2 u-btn-2"><span
                    class="u-file-icon u-icon u-icon-4"><img src="images/1384014.png" alt=""></span>&nbsp;CAREER
            </a>
            <a href="posts.html" class="u-black u-border-none u-btn u-button-style u-hover-custom-color-2 u-btn-2"><span
                    class="u-file-icon u-icon u-icon-5"><img src="images/writing.png" alt=""></span>&nbsp;BLOG
            </a>
            <a href="https://www.behance.net/oxid15"
                class="u-black u-border-none u-btn u-button-style u-hover-custom-color-2 u-btn-2"><span
                    class="u-file-icon u-icon u-icon-5"><img src="images/733594.png" alt=""></span>&nbsp;ART
            </a>
        </div>
    </section>
    <footer class="u-align-center u-black u-clearfix u-footer u-footer" id="sec-550d">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Ilia Moiseev | <a
                    href="mailto:ilia.moiseev.5@yandex.ru"
                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-2 u-btn-1">ilia.moiseev.5@yandex.ru</a>
            </p>
        </div>
    </footer>
</body>

</html>